<section class="container section-container">
  <button type="button" class="mt-4 btn btn-outline-secondary" [routerLink]="'/projects'">
    Zurück
  </button>
  <div class="row">
    <ng-container *ngIf="!!projectdetail">
      <h3 class="mt-3">{{ projectdetail.position }}</h3>
      <div class="project-list_item_dates" *ngIf="projectdetail.dates.length > 0">
        <div *ngFor="let date of projectdetail.dates">
          <span>{{ date.start_date }}</span> bis <span>{{ date.end_date }}</span>
        </div>
      </div>
      <h2 class="mt-3">{{ projectdetail.label }}</h2>
      <ng-container *ngIf="projectdetail.customer">
        <h5>{{ projectdetail.customer }}</h5>
      </ng-container>
      <ng-container *ngIf="projectdetail.location">
        <span class="project-list_item_main-info_location">{{ projectdetail.location }}</span>
      </ng-container>

      <hr class="mt-3" />

      <ng-container *ngIf="content">
        <pre>{{ content }}</pre>
      </ng-container>

      <hr class="mt-3" />
      <div class="project-list_item_tech" *ngIf="projectdetail.tech.length > 0">
        <span class="project-list_item_tech_title">Verwendete Technologien</span>
        <ul class="tech-container">
          <li *ngFor="let tech of projectdetail.tech">{{ tech.name }}</li>
        </ul>
      </div>
    </ng-container>
  </div>
</section>
