<section class="container section-container">
  <h2>Kontakt</h2>

  <ng-container *ngIf="emailIsSend">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body">
              <h1 class="text-center mb-4">Erfolgreich gesendet!</h1>
              <p class="text-center">
                Vielen Dank für deine Nachricht. Wir haben deine Anfrage erhalten und werden uns
                bald mit dir in Verbindung setzen.
              </p>
              <div class="text-center mt-4">
                <a routerLink="/" class="btn btn-primary">Zurück zur Startseite</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!emailIsSend">
    <div class="row mt-5">
      <div class="col-md-6">
        <h3>
          Danke, dass du dir die Zeit genommen hast, mich zu kontaktieren. Wie kann ich dir heute
          helfen?
        </h3>

        <ng-container *ngIf="!isSpecalized">
          <p>Wähle aus</p>
          <div class="d-flex flex-column mb-5">
            <button
              (click)="contactForm = 'GENERALLY'"
              [ngClass]="{ active: contactForm === 'GENERALLY' }"
              type="submit"
              class="btn btn-primary btn-lg mb-2"
            >
              Allgemeiner Kontakt
            </button>
            <button
              (click)="contactForm = 'PROJECT'"
              [ngClass]="{ active: contactForm === 'PROJECT' }"
              type="submit"
              class="btn btn-primary btn-lg"
            >
              Projektanfrage
            </button>
          </div>

          <p>
            Alternativ kannst du mir eine E-Mail schreiben an:
            <a href="mailto:{{ email }}">{{ encryptedEmail }}</a>
          </p>
        </ng-container>

        <div class="btn-container mt-5">
          <a routerLink="/" class="btn btn-outline-secondary btn-lg">Zurück zur Startseite</a>
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <div class="alert alert-danger" *ngIf="emailHasError">
          Ein Fehler beim Senden der Anfrage ist aufgetreten. Versuche es zu einem späteren
          Zeitpunkt erneut oder sende direkt eine E-Mail an
          <a href="mailto:{{ email }}">{{ encryptedEmail }}</a
          >.
        </div>
        <div class="spinner-overlay" *ngIf="emailSending">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <ng-container *ngIf="!contactForm">
          <div class="spinner-overlay">
            <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
          </div>
        </ng-container>
        <ng-container *ngIf="contactForm === 'GENERALLY'">
          <div
            class="alert alert-warning"
            *ngIf="allRequiredFieldsTouchedAndInvalid(generally_form)"
          >
            Überprüfe deine Eingabe.
          </div>
          <form [formGroup]="generally_form" (ngSubmit)="generally_send()" class="row">
            <ng-container
              [ngTemplateOutlet]="textInput"
              [ngTemplateOutletContext]="{
                label: 'Dein Name',
                variable: 'generally_name',
                form: generally_form,
                required: true,
                class: 'mb-4 col-md-6',
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="emailInput"
              [ngTemplateOutletContext]="{
                label: 'Deine Email',
                variable: 'generally_email',
                form: generally_form,
                required: true,
                class: 'mb-4 col-md-6',
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="textareaInput"
              [ngTemplateOutletContext]="{
                label: 'Deine Nachricht',
                variable: 'generally_message',
                form: generally_form,
                required: true,
                class: 'mb-4',
              }"
            ></ng-container>

            <input
              type="checkbox"
              formControlName="generally_contactByFax"
              name="contact_me_by_fax_only"
              value="1"
              style="display: none !important"
              tabindex="-1"
              autocomplete="off"
            />

            <ng-container
              [ngTemplateOutlet]="confirmInput"
              [ngTemplateOutletContext]="{
                variable: 'generally_yes',
                form: generally_form,
                class: 'mb-5',
              }"
            ></ng-container>

            <ng-container
              [ngTemplateOutlet]="confirmButtons"
              [ngTemplateOutletContext]="{
                form: generally_form,
              }"
            ></ng-container>
          </form>
        </ng-container>

        <ng-container *ngIf="contactForm === 'PROJECT'">
          <div class="alert alert-warning" *ngIf="allRequiredFieldsTouchedAndInvalid(project_form)">
            Überprüfe deine Eingabe.
          </div>
          <form [formGroup]="project_form" (ngSubmit)="project_send()" class="row">
            <h4>Kontaktdaten</h4>
            <ng-container
              [ngTemplateOutlet]="textInput"
              [ngTemplateOutletContext]="{
                label: 'Unternehmen',
                variable: 'project_company',
                form: project_form,
                required: true,
                class: 'mb-4 col-md-6',
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="textInput"
              [ngTemplateOutletContext]="{
                label: 'Ansprechpartner',
                variable: 'project_contactName',
                form: project_form,
                required: true,
                class: 'mb-4 col-md-6',
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="textareaInput"
              [ngTemplateOutletContext]="{
                label: 'Anschrift',
                variable: 'project_address',
                form: project_form,
                required: true,
                class: 'mb-4',
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="textInput"
              [ngTemplateOutletContext]="{
                label: 'Telefon',
                variable: 'project_phone',
                form: project_form,
                required: false,
                class: 'mb-4 col-md-6',
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="emailInput"
              [ngTemplateOutletContext]="{
                label: 'E-Mail',
                variable: 'project_email',
                form: project_form,
                required: true,
                class: 'mb-4 col-md-6',
              }"
            ></ng-container>

            <h4>Allgemeine Informationen zum Projekt</h4>
            <ng-container
              [ngTemplateOutlet]="textInput"
              [ngTemplateOutletContext]="{
                label: 'Titel des Projekts',
                variable: 'project_title',
                form: project_form,
                required: false,
                class: 'mb-4',
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="textInput"
              [ngTemplateOutletContext]="{
                label: 'Welcher Zeitraum ist für das Projekt eingeplant? Gibt es eine Deadline?',
                variable: 'project_timeline',
                form: project_form,
                required: true,
                class: 'mb-4',
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="textareaInput"
              [ngTemplateOutletContext]="{
                label: 'Beschreibe das Projekt stichpunktartig',
                variable: 'project_description',
                form: project_form,
                required: true,
                class: 'mb-4',
              }"
            ></ng-container>

            <input
              type="checkbox"
              formControlName="project_contactByFax"
              name="contact_me_by_fax_only"
              value="1"
              style="display: none !important"
              tabindex="-1"
              autocomplete="off"
            />

            <ng-container
              [ngTemplateOutlet]="confirmInput"
              [ngTemplateOutletContext]="{
                variable: 'project_yes',
                form: project_form,
                class: 'mb-4',
              }"
            ></ng-container>

            <ng-container
              [ngTemplateOutlet]="confirmButtons"
              [ngTemplateOutletContext]="{
                form: project_form,
              }"
            ></ng-container>
          </form>
        </ng-container>
      </div>
    </div>
  </ng-container>
</section>

<ng-template
  #textInput
  let-label="label"
  let-variable="variable"
  let-form="form"
  let-required="required"
  let-class="class"
>
  <div
    *ngIf="form.controls[variable]"
    class="form-group has-validation {{ class }}"
    [formGroup]="form"
    [ngClass]="{
      'was-validated': form.controls[variable].dirty || form.controls[variable].touched,
      'is-invalid':
        form.controls[variable].invalid &&
        (form.controls[variable].dirty || form.controls[variable].touched),
      'is-valid':
        form.controls[variable].valid &&
        (form.controls[variable].dirty || form.controls[variable].touched),
    }"
  >
    <label [for]="variable" class="leading-7 text-sm text-gray-600">
      {{ label }} <span *ngIf="!required">(optional)</span>
    </label>
    <input
      [required]="required"
      [formControlName]="variable"
      type="text"
      [id]="variable"
      [name]="variable"
      class="form-control"
    />

    <div
      class="invalid-feedback"
      *ngIf="
        form.controls[variable].errors &&
        form.controls[variable].invalid &&
        (form.controls[variable].dirty || form.controls[variable].touched)
      "
    >
      <div *ngIf="!!form.controls[variable].errors?.['required']">"{{ label }}" ist benötigt</div>
      <div *ngIf="!!form.controls[variable].errors?.['pattern']">
        Falsches Format für "{{ label }}"
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  #emailInput
  let-label="label"
  let-variable="variable"
  let-form="form"
  let-required="required"
  let-class="class"
>
  <div
    *ngIf="form.controls[variable]"
    class="form-group has-validation {{ class }}"
    [formGroup]="form"
    [ngClass]="{
      'was-validated': form.controls[variable].dirty || form.controls[variable].touched,
      'is-invalid':
        form.controls[variable].invalid &&
        (form.controls[variable].dirty || form.controls[variable].touched),
      'is-valid':
        form.controls[variable].valid &&
        (form.controls[variable].dirty || form.controls[variable].touched),
    }"
  >
    <label [for]="variable" class="leading-7 text-sm text-gray-600">
      {{ label }} <span *ngIf="!required">(optional)</span>
    </label>
    <input
      [required]="required"
      [formControlName]="variable"
      type="email"
      [id]="variable"
      [name]="variable"
      class="form-control"
    />

    <div
      class="invalid-feedback"
      *ngIf="
        form.controls[variable].errors &&
        form.controls[variable].invalid &&
        (form.controls[variable].dirty || form.controls[variable].touched)
      "
    >
      <div *ngIf="!!form.controls[variable].errors?.['required']">"{{ label }}" ist benötigt</div>
      <div
        *ngIf="
          !!form.controls[variable].errors?.['pattern'] ||
          !!form.controls[variable].errors?.['email']
        "
      >
        Falsches Format für "{{ label }}"
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  #textareaInput
  let-label="label"
  let-variable="variable"
  let-form="form"
  let-required="required"
  let-class="class"
>
  <div
    class="form-group has-validation {{ class }}"
    [formGroup]="form"
    [ngClass]="{
      'was-validated': form.controls[variable].dirty || form.controls[variable].touched,
      'is-invalid':
        form.controls[variable].invalid &&
        (form.controls[variable].dirty || form.controls[variable].touched),
      'is-valid':
        form.controls[variable].valid &&
        (form.controls[variable].dirty || form.controls[variable].touched),
    }"
  >
    <label [for]="variable" class="leading-7 text-sm text-gray-600">
      {{ label }} <span *ngIf="!required">(optional)</span>
    </label>
    <textarea
      [required]="required"
      [formControlName]="variable"
      [id]="variable"
      [name]="variable"
      class="form-control"
      [attr.maxLength]="form.controls[variable].errors?.['maxLength']?.requiredLength || null"
    ></textarea>

    <div class="char-count">
      {{ form.controls[variable].value?.length || 0 }}/{{ maxLength || '∞' }}
    </div>

    <div
      class="invalid-feedback"
      *ngIf="
        form.controls[variable].errors &&
        form.controls[variable].invalid &&
        (form.controls[variable].dirty || form.controls[variable].touched)
      "
    >
      <div *ngIf="!!form.controls[variable].errors?.['required']">"{{ label }}" ist benötigt</div>
      <div *ngIf="!!form.controls[variable].errors?.['pattern']">
        Falsches Format für "{{ label }}"
      </div>
      <div *ngIf="!!form.controls[variable].errors?.['maxlength']">
        Maximale Länge für "{{ label }}" ist {{ maxLength }} Zeichen
      </div>
    </div>
  </div>
</ng-template>

<ng-template #confirmInput let-variable="variable" let-form="form" let-class="class">
  <div
    class="form-group has-validation checkbox {{ class }}"
    [formGroup]="form"
    [ngClass]="{
      'was-validated': form.controls[variable].dirty || form.controls[variable].touched,
      'is-invalid':
        form.controls[variable].invalid &&
        (form.controls[variable].dirty || form.controls[variable].touched),
      'is-valid':
        form.controls[variable].valid &&
        (form.controls[variable].dirty || form.controls[variable].touched),
    }"
  >
    <input
      required
      [formControlName]="variable"
      type="checkbox"
      [id]="variable"
      [name]="variable"
      value="1"
      autocomplete="off"
    />
    <label [for]="variable" class="leading-7 text-sm text-gray-600">
      Ich stimme zu, dass meine Angaben aus dem Formular zur Beantwortung der Anfrage erhoben und
      verarbeitet werden. Die Daten werden nach abgeschlossener Bearbeitung Ihrer Anfrage gelöscht.
      Sie können Ihre Einwilligung jederzeit für die Zukunft per E-Mail an
      <a href="mailto:{{ email }}">{{ encryptedEmail }}</a> widerrufen. Detaillierte Informationen
      zum Umgang mit Nutzerdaten finden Sie in unserer
      <a routerLink="/datenschutz">Datenschutzerklärung</a>.
    </label>

    <div
      class="invalid-feedback"
      *ngIf="
        form.controls[variable].errors &&
        form.controls[variable].invalid &&
        (form.controls[variable].dirty || form.controls[variable].touched)
      "
    >
      <div *ngIf="form.controls[variable].errors?.['required']">Zustimmung ist benötigt</div>
    </div>
  </div>
</ng-template>

<ng-template #copy>
  <p class="mb-5">
    Deine Anfrage ist kostenlos und wird verschlüsselt übermittelt. Du erhälsten eine Kopie an die
    oben angegebene E-Mail-Adresse.
  </p>
</ng-template>

<ng-template #confirmButtons let-form="form">
  <div class="btn-container">
    <button (click)="contactForm = null" class="btn btn-outline-secondary btn-lg">Abbrechen</button>
    <button type="submit" class="btn btn-primary btn-lg">Senden</button>
  </div>
</ng-template>
