.footer-nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    margin: 0 1rem;
  }
}

@media (max-width: 768px) {
  .footer-nav {
    ul {
      flex-direction: column;
      align-items: center;
    }

    li {
      margin: 0.5rem 0;
    }
  }
}
