$content-width: 1000px;

.hero {
  display: flex;
  position: relative;
  min-height: fit-content;
  height: 100vh;
  max-height: 800px;
  align-items: center;
  justify-content: center;
  background: rgb(36,0,0);
  z-index: 1;
  color: #cba0a0;
  overflow: hidden;

  .hero-background {
    background: radial-gradient(farthest-corner at top, rgb(108, 41, 41), rgba(56, 6, 6, 1), rgb(28, 4, 4));
    filter: blur(50px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    animation: bg 10s alternate infinite both;

    @keyframes bg {
      from {
        background-position: 100%;
        background-size: 50%;
      }
      to {
        background-position: -100%;
        background-size: 150%;
      }
    }

    .animated_blob {
      border-radius: 50%;
      position: absolute;

      &._1 {
        top: 20%;
        width: 40%;
        animation: ap-1 7s alternate infinite both cubic-bezier(1,0.1,0.58,1);
        background: radial-gradient(rgb(63, 9, 9), rgb(33, 3, 3));
        z-index: 0;
      }
      &._2 {
        height: 30%;
        width: 30%;
        animation: ap-2 9s alternate infinite both;
        background: radial-gradient(rgb(80, 31, 31), rgb(108, 41, 41));
        z-index: 1;
      }
      &._3 {
        animation: ap-3 10s alternate infinite both;
        background: radial-gradient(rgb(108, 41, 41), rgb(79, 20, 20));
        z-index: 2;
      }
      @keyframes ap-1 {
        from {
          left: calc(-1 * random(51) / 2) + px;
          height: 60%;
        }
        to {
          left: random(2) * 40%;
          height: 40%;
        }
      }
      @keyframes ap-2 {
        from {
          opacity: .25;
          left: random(50) - 16%;
          top: random(2) - 54%;
        }
        to {
          opacity: 1;
          left:  random(2) * 54%;
          top: random(10) * 8%;
        }
      }
      @keyframes ap-3 {
        from {
          opacity: 1;
          width: 60%;
          height: 70%;
          left: random(20) * 10%;
          top: random(4) * 4%;
        }
        to {
          width: 80%;
          height: 40%;
          opacity: .25;
          left: random(5) * 4%;
          top: (random(10) + 70%);
        }
      }
    }

    //&:after {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  right: 0;
    //  bottom: 0;
    //  background: linear-gradient(233deg, rgba(36, 0, 0, 1), rgba(56, 6, 6, 1), rgb(138, 40, 40), rgba(91, 39, 39, 1));
    //  background-size: cover;
    //  background-blend-mode: hard-light;
    //  -webkit-animation: hue-rotate 3s linear infinite;
    //  animation: hue-rotate 3s linear infinite;
    //  z-index: -1;
    //}
  }

  .hero-container {
    > .hero-content {
      display: inline-block;
      max-width: 800px;
    }
  }

  @keyframes hue-rotate {
    from {
      filter: hue-rotate(0);
    }
    to {
      filter: hue-rotate(80deg);
    }
  }
}

.statistics-container {
  background: linear-gradient(319deg, rgb(14, 0, 0) 0%, rgb(38, 8, 8) 67%, rgb(19, 13, 0) 96%);
  color: #b5b5b5;

  --tw-bg-opacity: 1;
  padding: 2rem 0;

  .list-group.list-group-horizontal {
    justify-content: space-between;

    @media (max-width: 731px) {
      flex-direction: column;
    }
  }

  .list-group-item {
    color: inherit;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;

    .domain {
      width: 6rem;
      line-height: 1.15rem;

      b {
        font-size: 1.5rem;
      }
    }

    .counter {
      font-size: 4rem;
      line-height: 1.5rem;
      font-weight: bolder;

      &:after {
        content: '+';
        font-size: 2rem;
        margin-right: .25rem;
        position: relative;
        bottom: .25rem;
      }
    }
  }
}

.customers-container {
  background: linear-gradient(319deg, rgb(14, 0, 0) 0%, rgb(23, 12, 12) 96%);
  color: white;

  --tw-bg-opacity: 1;
  padding: 2rem 0;
  overflow: hidden;
  box-sizing: content-box;

  .mask {
    max-width: 1500px;
    margin: 0 auto;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  }

  .ticker {
    --time: 20s;
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;

    ul {
      white-space: nowrap;
      animation: scroll var(--time) linear infinite;
      animation-delay: calc(var(--time) * -1);
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      opacity: .75;

      &:nth-child(2) {
        animation: scroll2 var(--time) linear infinite;
        animation-delay: calc(var(--time) / -2);
      }

      li {
        padding-left: 3rem;

        img {
          width: 120px;
          height: 100%;
          aspect-ratio: 2/1;
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.tech-container {

  h2 {
    line-height: 1.5rem;
  }
  h3 {
    margin-bottom: 1.5rem;
  }

  .tech-category-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 1rem;

    @media only screen and (min-width:576px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width:768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width:992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (min-width:1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .tech-category-item {
    border: 1px solid rgba(91,39,39,.25);
    padding: 1rem;
    border-radius: 1rem;
  }
  .list-group {
    border-top: 1px solid rgba(91,39,39,.25);
    padding-top: .75rem;
  }

  .list-group-item {
    padding-left: .75rem;
    padding-right: .75rem;
    margin-right: .25rem;
    margin-bottom: .5rem;
  }
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.short-about-me {
  background: linear-gradient(319deg, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 67%, rgb(218, 218, 218) 96%);
}

.tech-container {
  background: linear-gradient(319deg, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 67%, rgb(218, 218, 218) 96%);
}

.section-container {
  padding-top: 5rem;
  padding-bottom: 5rem;

  h2 {
    font-size: 3rem;
    letter-spacing: -.045em;
    text-transform: uppercase;
  }
}

.color {
  color: var(--pm-primary);
}

.role-typscripter {
  font-weight: bolder;
  font-size: 1.75em;

  &::after {
    animation: blink-cursor 1s infinite step-start;
    content: "|";
  }
}

@keyframes blink-cursor {
  0%, 100% {
    color: transparent;
  }

  50% {
    color: inherit;
  }
}
