<footer>
  <div class="top-scroller">
    <app-top-scroller></app-top-scroller>
  </div>

  <div class="footer-content">
    <div class="project-request" routerLink="/contact/project">Projektanfrage</div>

    <app-social-links [socialLinks]="socialLinks"></app-social-links>

    <span class="footer-copyright">© Copyright {{ getCurrentYear() }} Johannes Kromer</span>

    <app-footer-navigation [navLinks]="navLinks"></app-footer-navigation>

    <app-footer-disclaimer [techStack]="techStackForPortfolio"></app-footer-disclaimer>
  </div>
</footer>
