footer {
  position: relative;
  padding: 3rem 1rem 1.5rem;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity));
  color: #444;

  --tw-bg-opacity: 1;
}

.top-scroller {
  position: absolute;
  top: -1rem;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.footer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.project-request {
  position: absolute;
  top: -4rem;
  left: 5rem;
  background: var(--pm-primary);
  color: #fff;
  padding: 1rem 2rem;
  animation: wiggle 2.5s infinite;
  scale: 1.5;
  transition: 0.25s ease-in-out all;

  &:hover {
    scale: 1.6;
    cursor: pointer;
    animation: none;
    transform: rotate(-5deg);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  85% {
    transform: rotate(-10deg);
  }
  95% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
