@use "sass:color";

$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 3.5rem;
$nav-background: #180000;
$nav-font-color: #fff;
$link-hover-color: var(--pm-primary-hover);
$link-active-bg: var(--pm-primary);

.header-buffer {
  height: $nav-height * 1.5;
  display: block;
}

header {
  display: block;
  width: 100%;
  background: $nav-background;
  position: absolute;
  top: 0;
  z-index: 1;

  &.fixed-header {
    background: color.change($nav-background, $alpha: 0.75);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    backdrop-filter: blur(5px);

    .header-content nav .nav-link:hover {
      background: color.change($nav-background, $alpha: 0.75);
    }

    .header-content .logo {
      height: $nav-height;
      font-size: 1rem;
    }

    .header-content nav {
      height: $nav-height;
    }

    .header-content nav ul li .nav-link {
      line-height: $nav-height;
    }

    .header-content nav ul li:not(.active) .nav-link {
      &:hover {
        background: color.change(color.adjust($nav-background, $lightness: -75%), $alpha: 0.75);
      }
    }
  }

  .header-content {
    padding: 0 1rem;
    display: flex;

    .logo {
      float: left;
      font-size: 2.25rem;
      text-transform: uppercase;
      position: relative;
      height: $nav-height * 1.5;
      line-height: 1em;

      span {
        border-top: 1px solid rgba(255, 255, 255, 1);
        letter-spacing: 0.1em;
        word-spacing: 0.5em;
        display: block;
        font-size: 0.455em;
        line-height: 0.85em;
        opacity: 0.5;
        white-space: nowrap;
      }

      a,
      a:visited {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: $nav-font-color;
        text-decoration: none;
      }
    }

    .navbar-toggler {
      color: $nav-font-color;
      border: none;
      outline: none;
    }

    nav {
      height: $nav-height * 1.5;
      flex-direction: row-reverse;

      &.collapse.show {
        height: auto;
        width: 100%;
      }

      ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          position: relative;
          display: inline;

          &::before {
            position: absolute;
            bottom: 0;
            width: 0;
            height: 5px;
            background-color: $link-hover-color;
            content: "";
            transition: 300ms;
          }

          &:hover:not(.active)::before {
            width: 70%;
          }

          .nav-link {
            display: block;
            padding: 0 1rem;
            color: $nav-font-color;
            line-height: $nav-height * 1.5;
            text-decoration: none;
          }

          &.active .nav-link {
            background: $link-active-bg;
            cursor: default;
          }

          &:not(.active) .nav-link:hover {
            background-color: color.adjust($nav-background, $lightness: -75%);
            color: $link-hover-color;
          }
        }
      }
    }
  }
}
