.section-container {
  padding-top: 2rem;
  padding-bottom: 5rem;

  h2 {
    font-size: 3rem;
    letter-spacing: -.045em;
    text-transform: uppercase;
  }

  ul {
    list-style-type: circle;

    li:not(:last-child) {
      margin-bottom: .5rem;
    }
  }
}
