.section-container {
  padding-top: 2rem;
  padding-bottom: 5rem;

  h2 {
    font-size: 3rem;
    letter-spacing: -.045em;
    text-transform: uppercase;
  }

  h3 {
    font-size: 2rem;
    letter-spacing: -.045em;
    text-transform: uppercase;
  }
}

ul {
  list-style-type: circle;

  li:not(:last-child) {
    margin-bottom: .5rem;
  }
}

.tech-card-container {
  .tech-card {
    margin-bottom: 2rem;

    h4 {
      font-size: 1.5rem;
      letter-spacing: -.045em;
      text-transform: uppercase;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      padding-bottom: .25rem;
      margin-bottom: .25rem;

      &:not(:last-child) {
        border-bottom: 1px solid #cbcbcb;
      }

      .tech_name {
        color: var(--pm-primary);
        font-weight: 700;
      }
      .tech_info-box {
        color: var(--pm-secondary);
        display: flex;
        gap: .5rem;
        font-size: .65em;

        span {
          font-size: 1.25em;
          font-weight: 500;
        }

        .tech_project-count {
        }

        .tech_year-count {
        }

        .tech_last-touch {
        }
      }
    }
  }
}
