.section-container {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.tech-card-container {
  .tech-card {
    margin-bottom: 2rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      width: 100%;
      margin-bottom: .5rem;
      display: grid;
      grid-template-columns: 10rem 1fr;

      .tech_name {
        color: var(--pm-primary);
      }
      .tech_info-box {

        .tech_project-count {
        }

        .tech_year-count {
        }

        .tech_last-touch {
        }
      }
    }
  }
}
