@use "./sass/helpers/variables" as var;

// TOOLS
@use "./sass/tools/reset";
@use "./sass/tools/normalize";

// BASICS
@use "./sass/basics/base";
@use "./sass/basics/typography";

// Bootstrap main import
@use "bootstrap/scss/bootstrap";

:root {
  --pm-primary: #{var.$primary};
  --pm-primary-hover: #{var.$primary-hover};
  --pm-secondary: #{var.$secondary};
  --pm-secondary-hover: #{var.$secondary-hover};
}

// Then add additional custom code here
a {
  color: var.$primary;
  text-decoration: none;

  &:hover {
    color: var.$primary-hover;
  }
}
