@use './sass/helpers/variables' as *;

// TOOLS
@use './sass/tools/reset';
@use './sass/tools/normalize';

// BASICS
@use './sass/basics/base';
@use './sass/basics/typography';

// Bootstrap main import
@use 'bootstrap/scss/bootstrap' with (
  $primary: $primary,
  $secondary: $secondary,
  $theme-colors: $theme-colors
);

:root {
  --pm-primary: #{$primary};
  --pm-primary-hover: #{$primary-hover};
  --pm-secondary: #{$secondary};
  --pm-secondary-hover: #{$secondary-hover};
}

// Then add additional custom code here
a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary-hover;
  }
}
